################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WinDuramas/obj/Debug/net6.0-windows/WinDuramas.designer.runtimeconfig.json
/WinDuramas/obj/Debug/net6.0-windows/WinDuramas.designer.runtimeconfig.json
/.vs/WinDuramas/v17/.suo
/.vs/WinDuramas/v17/.suo
/.vs/WinDuramas/FileContentIndex/5ff40b36-399a-401d-8732-76e6485e6b1f.vsidx
/.vs/WinDuramas/FileContentIndex
/.gitignore
/.vs/WinDuramas/DesignTimeBuild/.dtbcache.v2
/.gitignore
/WinDuramas/obj/Debug/net6.0-windows/WinDuramas.assets.cache
/WinDuramas/obj/Debug/net6.0-windows/WinDuramas.designer.deps.json
/WinDuramas/obj/Debug/net6.0-windows/Interop.ADODB.dll
/WinDuramas/obj/Debug/net6.0-windows/WinDuramas.GeneratedMSBuildEditorConfig.editorconfig
/WinDuramas/obj/Debug/net6.0-windows/WinDuramas.vbproj.ResolveComReference.cache
/WinDuramas/FrmAlmacen.Designer.vb
/.vs/WindowsFormsAppExample/FileContentIndex/16211308-2291-4e3e-8ecb-225bbd007531.vsidx
/.vs/WindowsFormsAppExample/FileContentIndex/bac945f7-bc6c-4210-af2a-6a047252e81a.vsidx
*.vsidx
